body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.15em;
  color: #96c3d2;
  padding: 0vh 2vw 0vh 0vw;
  font-family: "Inter", sans-serif;
}

a:hover {
  color: rgb(28, 74, 87);
}

/* Menu/Navigation Bar */

.navbar-options {
  position: absolute;
  padding: 2.5vh 0vw 2vh 0vw;
  right: 10%;
}
.menu {
  position: absolute;
  z-index: 1;
  height: 10vh;
  width: 100%;
}

/* IntroPage About Me */

.intro-page-position{
  position: relative;
  height: 40vh;
  width: 40%;
  z-index: 1;
  margin: auto;
  padding-top: 20vh;
}

.intro-page-heading-text{
  font-weight: 400;
  font-size: 3.5em;
  color: #96c3d2;
  font-family: "Inter", sans-serif;
  text-align:center;
}

.intro-page-sub-heading-text{
  font-weight: 400;
  font-size: 1.5em;
  color: #96c3d2;
  font-family: "Inter", sans-serif;
  text-align:center;
}

.four-arrows{
  position: absolute;
  width: 10%;
  opacity: .6;
  right: 45%;
  padding-top: 5vh;
}

/* Project Page */

.project-page-position{
  position: relative;
  top: 40vh;
  height: 60vh;
  width: 60%;
  z-index: 1;
  margin: auto;
}

.project-page-heading{
  font-size: 1.6em;
  color: #96c3d2;
  font-family: "Inter", sans-serif;
  text-align:center;
}
